{% extends 'base.html' %}

{% block content %}

<div style="padding:30px;">

    <h1>Fees Details</h1>

    <table border="1" cellpadding="10">

        <tr>
            <th>Student</th>

            <th>Total Fees</th>

            <th>Paid Fees</th>

            <th>Remaining Fees</th>
        </tr>

        {% for f in data %}

        <tr>

            <td>{{ f.student.name }}</td>

            <td>{{ f.total_fees }}</td>

            <td>{{ f.paid_fees }}</td>

            <td>{{ f.remaining_fees }}</td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="4">
                No fee records found
            </td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}