{% extends 'base.html' %}

{% block content %}

<h1>Manage Student: {{ student.name }}</h1>

<hr>

<h2>Attendance</h2>

<a href="{% url 'add_attendance' student.id %}">Add Attendance</a><br>

{% for a in attendance %}
    <p>
        {{ a.date }} - {{ a.status }}

        <a href="/attendance/update/{{ a.id }}/">Edit</a>

        <a href="/attendance/delete/{{ a.id }}/"
           onclick="return confirm('Delete this attendance?')">
           Delete
        </a>
    </p>
{% endfor %}

<hr>

<h2>Marks</h2>
<a href="/students/manage/{{ student.id }}/add-marks/">Add Marks</a><br>
{% for m in marks %}
<p>
    {{ m.subject }} - {{ m.marks }}
<a href="/marks/update/{{ m.id }}/">Edit</a>
<a href="/marks/delete/{{ m.id }}/"
       onclick="return confirm('Delete this mark?')">
       Delete
    </a>
    </p>

{% endfor %}

<hr>

<h2>Fees</h2>
<a href="/students/manage/{{ student.id }}/add-fees/">Add Fees</a><br>
{% for f in fees %}
<p> 
    Total: {{ f.total_fees }} | Paid: {{ f.paid_fees }}</p>
 <a href="/fees/update/{{ f.id }}/">Edit</a>
 <a href="/fees/delete/{{ f.id }}/"
       onclick="return confirm('Delete this fee record?')">
       Delete
    </a>


{% endfor %}

{% endblock %}